apiVersion: apps/v1
kind: Deployment
metadata:
  name: hotstar-deployment
  labels:
    app: hotstar
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hotstar
  template:
    metadata:
      labels: 
        app: hotstar
    spec:
      containers:
        - name: hotstar-cont
          image: maheshbharambe45/hotstar-app:latest
          ports:
            - containerPort: 3000
          imagePullPolicy: Always